h1,h2,h3,h4,h5,h6,a {
  color: #069;  /* brand color */
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

pre {
    text-align: left;
}

/* buttons */
.collectorButton {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: .25em .4em;
  color: #fff;
  background-color: #069;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.collectorButton:hover, 
.collectorButton:focus {
  background-color: #09c;
}
.collectorButton:focus {
  outline: 0;
}

.collectorButton:active {
  background-color:#0f9;
}
.collectorAdvance {
  margin-top: 3em;
}

/* styling for when a button is disabled (`Min Time` not reached) */
.collectorButton:disabled,
*:disabled, *:disabled:hover  {
  cursor: not-allowed;
  background-color:#e1e1e1;
  border-color:#888;
  color:#777;
}

/* default collector input style */
.collectorInput {
  padding: 4px 4px;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
}
.collectorInput:active, .collectorInput:hover, .collectorInput:focus {
  border-color: #09c;
  outline: none;
  box-shadow: inset 1px 1px 4px 0px #C9C9C9;
}

/* general page structure */
html, body {
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

form {
    margin: auto;
    max-width: 800px;
    padding: 5px;
    display: inline-block;
    text-align: left;
}

input {
    color: inherit;
}

.main-form {
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: visible;
  text-align: center;
  display: block;
}

.recording-errors {
    display: block;
    text-align: center;
}

/* spacing alignment */
.center-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.center-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
    
/* text alignment */
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textleft {
  text-align: left;
}

/* Hidden objects */
.precache, .precachenext, .hidden, #waiting, #loadingForm {
  display: none!important;
}
.invisible {
  visibility: hidden!important;
}

/* no-js */
.nojs {
  background:#fbe7a8;
  max-width: 900px;
  min-width: 500px;
  margin-top: -100px;
}
.nojs img {
  position:absolute;
  float:left;
  top:50%;
  margin: -95px 0 0 15px;
}
.nojs .nojs-text {
  margin-left: 90px;
  padding: 30px;
}

/* Login */
#indexLogin {
    margin: 0.5em auto;
}
#indexLogin div:first-of-type{
    margin-bottom: .5em;
}
#indexLogin input[type="text"] {
    width: 250px;
}
#indexLogin select {
    width: 150px;
}

.login-consent-form {
    width: 900px;
    height: 900px;
    max-height: 95vh;
    border-bottom: 5px solid #393939;
}

.login-error-message {
    color: #600;
    line-height: 2;
}

.exp-description {
    display: inline-block;
    margin: 0 auto 1em;
    text-align: left;
    max-width: 700px;
    line-height: 1.5;
}

#login-consent-container {
    min-height: 905px;
}
/* format diagnostics */
.dump {
    padding: 4px;
    max-width: 98vw;
}
.dump pre {
    display: inline-block;
    margin: auto;
    background-color: #ddd;
    padding: 8px;
    white-space: pre-wrap;
    max-width: 100%;
}

/* multi trial */
.trial-container:not(.current-trial) {
    display: none;
}

.trial-container > *:not(.current-phase) {
    display: none;
}
